@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body{
    background-color: #000000;
    place-items: center;  
    font-family: "Russo One", serif;
}
h1{
    text-align: center;
    font-family: "Russo One", serif;
    
   font-size: 3rem;
   letter-spacing: 0.15rem;
   text-shadow: 2px -2px 2px #000000 ,
                4px -4px 4px  hsl(0, 94%, 52%),
                6px -6px 6px #57f149,
                8px -8px 8px #4d45bb;
                
    color: rgb(255, 255, 255);
    margin-left: -100px;
    

}


.container {
  display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; 
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}





h2{
  color: #ffffff;
  text-shadow: 2px -2px 2px #ffffff ,
                4px -4px 4px  hsl(0, 100%, 99%),
                text-align: center;
                
  font-family: "Russo One", serif;
}
.startButton{
  background-color: #4d45bb;
  color: #fcfcfc;
  display:inline-block;
  margin: 0 auto;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  position: relative;
  transition: .3s linear;
  text-decoration: none;
  border-radius: 12px;
  border: none;
  font-family: "Russo One", serif;
}
.startButton:hover{
  
  background-color: #4d45bb;
  box-shadow: 0 0 5px #4d45bb, 0 0 25px #4d45bb,0 0 
  50px #4d45bb, 0 0 100px #4d45bb, 0 0 200px #4d45bb;
  
}
.BackButton{
  background-color: #4d45bb;
  color: #fcfcfc;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  position: relative;
  transition: .3s linear;
  text-decoration: none;
  border-radius: 12px;
  border: none;
  font-family: "Russo One", serif;

}

.BackButton:hover{

  background-color: #4d45bb;
  box-shadow: 0 0 5px #4d45bb, 0 0 25px #4d45bb,0 0 
  50px #4d45bb, 0 0 100px #4d45bb, 0 0 200px #4d45bb;
  
  
}
.header{
  width: 100%;
  height: auto;
  display: block;
  flex-direction: column;
}
.headerTitle{
  text-align: center;
  font-family: "Russo One", serif;
  
 font-size: 3rem;
 letter-spacing: 0.15rem;
 text-shadow: 2px -2px 2px #000000 ,
              4px -4px 4px  hsl(0, 94%, 52%),
              6px -6px 6px #57f149,
              8px -8px 8px #4d45bb;
              
  color: rgb(255, 255, 255);
}
.footer{
  width: 100%;
  height: auto;
}
.game-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.container {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye espacio entre los elementos */
  align-items: center;
}

.Botones {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  transform: rotate(45deg);
  align-items: center;
  border-color: #000000;
}
.square{
  border-radius: 5px;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.square:active,
.active{
  filter: brightness(200%);
}
.red{
  background-color: #fe6f6b ;
}
.red:hover{
  
  background-color: #e07070;
  box-shadow: 0 0 5px #e07070, 0 0 25px #e07070;
  
}
.yellow{
  background-color: #fef36b;
}
.yellow:hover{
  
  background-color: #dee070;
  box-shadow: 0 0 5px #dee070, 0 0 25px #dee070;
  
}
.blue{
  background-color: #6b91fe;

}
.blue:hover{
  
  background-color: #7870e0;
  box-shadow: 0 0 5px #7870e0, 0 0 25px #7870e0,0 0 
  50px #7870e0;
  
}
.green{
  background-color: #71fe6b;

}
.green:hover{
  
  background-color: #93e070;
  box-shadow: 0 0 5px #93e070, 0 0 25px #93e070,0 0 
  50px #93e070;
  
}

@media (min-width: 150px) {
  .square {
      width: 50px;
      height: 50px;
  }
}
@media (min-width: 300px) {
  .square {
      width: 80px;
      height: 80px;
  }
}
@media (min-width: 600px) {
  .square {
      width: 120px;
      height: 120px;
  }
}

@media (min-width: 900px) {
  .square {
      width: 150px;
      height: 150px;
  }
}

